fastapi
uvicorn
jinja2
python-multipart
whisper
openai
langchain
langchain-openai
pyttsx3
vaderSentiment
pyAudioAnalysis
torch
transformers
scikit-learn
numpy
soundfile
pydub
librosa
matplotlib
scipy
